/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}
body{
	font-family:Calibri,sans-serif;
}
.container{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-item:center;
	height:100vh;
}
.panel{
	width: 50px;
	height: 90vh;
	box-dhadow: 0 0 10px black;
	margin:20px;
	border-radius:20px;
	flex:1;
	background: white no-repeat scroll center;
	transition: all 0.5s linear;
}
.panel h3{
	position: absolute;
	left:0;
	bottom:100px;
	color:white;
	font-size:40px;
	transition: all 0.5s linear;
}
.active{
	flex: 6;
}
#panel-1{background-image:url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')}
#panel-2{background-image:url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')}
#panel-3{background-image:url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80')}
#panel-4{background-image:url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80')}
#panel-5{background-image:url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')}